/* Navbar Section */
.nav{
    margin: 10px 30px 40px 30px;
    overflow: hidden;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    float: left;
    padding: 0 10px;
}

.nav li a{
    text-decoration: none;
    color: black;
}

.nav-right{
    float: right;
}

/* Main Section */
.main{
    margin: auto;
    width: 50%;
}

img{
    display: block;
    margin: auto;
}

form{
    text-align: center;
}

/* Footer Section */